@font-face 
{	
	font-family: 'ralewayregular';
	src: url('fonts/ralewayregular.ttf');
}
#logo
{
	width: 4%;
	max-width: 70px;
	min-width: 50px;
}
nav
{
	font-family: 'ralewayregular';
}
p
{
	font-family: 'ralewayregular';
}

.menu
{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	top: 4px;
	right: 4px;
}

.menu a
{
	padding: 0 20px;
	text-decoration: none;
}
.hébergement:hover 
{
	color: #0065FC;
	border-top: #0065FC 2px solid;
}

.activités:hover
{
	color: #0065FC;
	border-top: #0065FC 2px solid;
}

.inscription
{
	color: #0065FC;
}

@media all and (max-width: 1024px)
{
	.menu
	{
		flex-direction: column;
	}
	.hébergement:hover
	{
		border: none;	
	}
	.activités:hover
	{
		border: none;
	}
	

}