@font-face 
{	
	font-family: 'ralewayregular';
	src: url('fonts/ralewayregular.ttf');
}

body
{
	font-family: 'ralewayregular';
	display: flex;
	flex-direction: column;
	margin: 0px;
}

nav
{
    height: 90px;
    width: 95%;
    display: flex;
    flex-direction: row;
	justify-content: center;
	margin: auto;
}

nav a
{
	text-decoration: none;
}

#logo
{
    flex : 6;  
}

#logo img
{
	margin-top: 2%;
}

.hebergement
{
    flex : 1;
    text-align: center;
	padding-top: 33px;
}

.activites
{
    flex : 1;
    text-align: center;
	padding-top: 33px;
}

.inscription
{
    flex : 1;
    text-align: center;	
	padding-top: 33px;
}

.ins-bleu
{
	color:#0065FC
}

.hebergement:hover,
.activites:hover
{
	border-top: #0065FC 3px solid;
	padding-top: 30px;
}

.hebergement a:hover,
.activites a:hover
{
	text-decoration: none;
	color: #0065FC;
}

.bloc-top
{
	width: 95%;
    display: flex;
    flex-direction: column;
	margin: auto;
}

.bloc-top h1
{
	font-size: xx-large;
	font-weight: bold;
	color: black;
	margin-bottom: 1px;
}

p 
{
	font-size: 0.8em;
	color: black;
}

.bloc-rechercher
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 30px 0;
}

.fa-map-marker-alt
{
	border-radius: 10px 0px 0px 10px;
	background-color: #F2F2F2;
	padding: 17px;
}

#rechercher
{
	padding: 17px 0 14px 20px;
	width: 200px;	
	border-top: 2px #F2F2F2 solid;
	border-bottom: 2px #F2F2F2 solid;
	border-left: none;
	border-right: none;
}

.btn
{
	border-color: #0065FC;
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color: white;
	padding: 19px 17px 16px 17px;
}

.btn i
{
	font-size: 0;
}

em
{
	font-style: normal;
}

.bloc-filtres
{
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px 0 30px -40px;
}


.bloc-filtres a
{
	color: black;
	text-decoration: none;
}

.bloc-filtres li
{
	color: black;
	list-style-type: none;
}

.fa-money-bill-wave,
.fa-heart,
.fa-dog
{
	border-radius: 50%;
	background-color: #DEEBFF;
	margin-right: 20px;
	padding: 8px;
	color: #0065FC;
}

.fa-child
{
	border-radius: 50%;
	background-color: #DEEBFF;
	margin-right: 20px;
	padding: 8px 10px 8px 10px;
	color: #0065FC;
}

.filtre
{
	padding-top: 8px;
	color: black;
	font-weight: bold;
}

.option
{
	border: 2px #DEEBFF solid;
	border-radius: 20px;
	padding-right: 20px;	
	font-weight: bold;
}

.option:hover
{
	transform: scale(1.2);
	background-color: #F2F2F2;
}

.fa-info
{
	border: 1px #F2F2F2 solid;
	border-radius: 50%;
	padding: 4px 8px 4px 8px;
	color: #0065FC;
	margin-bottom: 20px;
}

.hebergement-populaire
{
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

.hebergement-populaire a
{
	text-decoration: none;
	color: black;
}

strong
{
	font-weight: bold;
}

.bloc-hebergements
{
	max-height: 700px;
	flex: 60%;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin-right: 20px;
}

.bloc-hebergements h1
{
	font-size: 1.7em;
	font-weight: bold;
	color: black;
	margin-left: 30px;
}

.galerie-une
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.galerie-une img
{
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 150px;
}

.galerie-une h2
{
	font-size: 0.8em;
	font-weight: bold;
	color: black;
	margin: 3px 0px 3px 10px;
}

.galerie-une p
{
	font-size: 0.8em;
	color: black;
	margin: 3px 10px 3px 10px;
}

.hetoiles
{
	margin: 3px 10px 3px 10px
}

.bleu
{
	color:#0065FC;
}

.gris
{
	color: #F2F2F2;
}

.image-hune,
.image-hdeux,
.image-htrois,
.image-hquatre,
.image-hcinq,
.image-hsix
{
	border-radius: 10px;
	background-color: white;
	margin: 15px 20px;
	padding: 4px;
	width: 100%;
	flex: 25%;
}

.plus
{
	color:black;
	font-weight: bold;
	margin: 30px;
}

.bloc-populaires
{
	max-height: 700px;
	flex: 30%;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin-left: 20px;
}

.titre-icone
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.titre-icone i
{
	margin-top: 25px;
	margin-right: 30px;
}

.bloc-populaires h1
{
	font-size: 1.7em;
	font-weight: bold;
	color: black;
	margin-left: 30px;
}

.galerie-deux
{
	display: flex;
	flex-direction: column;
}

.galerie-deux img
{
	height: 150px;
	width: 120px;
	object-fit: cover;
	border-radius: 10px 0 0 10px;
}

.galerie-deux h2
{
	font-size: 1em;
	font-weight: bold;
	color: black;
	margin: 5px 0 5px 20px
}

.galerie-deux p
{
	font-size: 0.8em;
	color: black;
	margin: 3px 10px 50px 20px
}

.image-pune,
.image-pdeux,
.image-ptrois
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-radius: 10px;
	background-color: white;
	width: 90%;
	margin: 15px auto;
	padding: 4px;	
}

.text-pune,
.text-pdeux,
.text-ptrois
{
	display: flex;
	flex-direction: column;
}

.petoiles
{
	margin: 3px 10px 3px 20px
}

.bloc-activites
{
	width: 95%;
	margin: auto;
}

.bloc-activites a
{
	text-decoration: none;
}

.bloc-activites h1
{
	font-size: 1.7em;
	font-weight: bold;
	color: black;
}

.galerie-trois
{
	display: flex;
	justify-content: space-between;
}

.galerie-trois h2
{
	font-size: 1em;
	font-weight: bold;
	color: black;
	background-color: white;
	padding: 25px 0px 25px 15px;
	border: 1px #F1F1F1 solid;
	border-radius: 0 0 10px 10px;
	position: relative;
	bottom: 85px;
}

.image-aune img,
.image-aquatre img 
{
	height: 470px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px
}

.image-atrois img,
.image-acinq img
{
	height: 200px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px
}

.image-adeux img,
.image-asix img
{
	height: 250px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px
}

.ideux-trois,
.icinq-six
{
	display: flex;
	flex-direction: column;
}

.image-aune,
.image-adeux,
.image-atrois,
.image-aquatre,
.image-acinq,
.image-asix
{
	border: 0px white outset;
	border-radius: 10px;
	width: 95%;
	margin: auto;
}

.image-aune,
.image-aquatre
{
	flex: 30%;
} 

.image-atrois,
.image-acinq
{
	flex: 20%;
}

.image-adeux,
.image-asix 
{
	flex: 20%;
}

.image-adeux,
.image-acinq
{
	margin-bottom: -95px;
}

.image-atrois
{
	margin-top: 16px;
}

.image-acinq,
.image-asix
{
	margin-right: 0;
}

footer 
{
	flex-shrink: 0;
	color: black;
	background-color: #F2F2F2;
}

.contenu-footer
{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 0.9em;
}

.footer-general,
.footer-hebergements,
.footer-assistance 
{
	width: 33%;
	margin: 20px 0 30px 30px;
}

.footer-general h2,
.footer-hebergements h2,
.footer-assistance h2
{
	font-size: 1.2em;
	padding-bottom: 5px;
}

.liste-general,
.liste-hebergements,
.liste-assistance
{
	padding: 0;
	list-style-type: none;
}

.liste-general li,
.liste-hebergements li,
.liste-assistance li
{
	text-decoration: none;
	color: black;
	padding: 4px 0;
}

.liste-general a,
.liste-hebergements a,
.liste-assistance a
{
	text-decoration: none;
	color: black;
}

.liste-general a:hover,
.liste-hebergements a:hover,
.liste-assistance a:hover
{
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 1025px) and (min-width: 426px)
{
	.hebergement:hover,
	.activites:hover
	{
		padding-top: 20px;
	}
	
	.hebergement,
    .activites,
	.inscription
	{
		padding: 20px;
	}

	.bloc-filtres
	{
		width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20px 0 20px -40px;
	}

	.filtre
	{
		margin-top: 10px
	}

	.option
	{
		margin: 10px 7px 10px 7px;
	}

	.option:hover
	{
		transform: scale(1.0);
	}

	.fa-info
	{
		margin-bottom: 0;
	}

	.hebergement-populaire
	{
		flex-direction: column;
	}

	.bloc-hebergements
	{
		margin-bottom: 30px;
		margin-right: 0;
		max-height: 1000px;
	}

	.bloc-populaires
	{
		margin-left: 0;
	}

	.galerie-trois
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.image-aune,
	.image-aquatre
	{
		margin: 0 auto;
	}

	.ideux-trois
	{
		width: 100%;
		margin: 0 auto;
	}

	.image-adeux
	{
		margin-bottom: -95px;
	}

	.image-aune img,
	.image-adeux img,
	.image-atrois img,
	.image-aquatre img,
	.image-acinq img,
	.image-asix img
	{
		height: 350px;
	}

	.image-aune,
	.image-aquatre
	{
		margin-bottom: -75px;
	}

	.image-adeux
	{
		margin-bottom: -95px;
	}

	.ideux-trois
	{
		margin-bottom: -75px;
	}

	.image-acinq
	{
		margin: 0 auto;
	}

	.image-asix
	{
		margin: -75px auto;
	}
}

@media screen and (max-width: 425px) 
{
	nav
	{
		flex-wrap: wrap;
		height: 160px;
		width: 100%;
		margin: 0;
	}


    .hebergement
	{
        order : 2;
        flex-basis: 50%;
        border-bottom : 3px solid #F2F2F2;
    }
    
    .activites
	{
        order : 3;
        border-bottom : 3px solid #F2F2F2;
        flex-basis: 50%;
    }
    
    #logo
	{
		padding-top: 20px;
        order : 0;
        flex-basis: 70%; 
    }
    
    .inscription
	{
        order : 1;
        flex-basis: 30%;    
    }

    .hebergement:hover,
	.activites:hover
	{
        border-top : none;
		color: #0065FC;
		border-bottom: 3px solid #0065FC;
    }

	.bloc-top h1
	{
		width: 100%;
		margin-top: 30px;
		font-size: x-large;
	}

	.bloc-top p
	{
		margin-bottom: 30px;
		width: 270px;
	}

	.bloc-rechercher
	{
		margin: 5px 0;
	}

	#rechercher
	{
		width: 230px;	
	}

	.btn
	{
		border-radius: 10px;
		background-color: #0065FC;
		color: white;
		margin-left: -7px;
		padding: 13px 12px 12px 12px;
	}

	.btn i
	{
		font-size: 15px;
	}

	em
	{
		font-size: 0;
	}

	.bloc-filtres
	{
		display: flex;
		flex-wrap: wrap;
		width: 90%;
	}

	.filtre
	{
		margin-right: 200px;
		margin-bottom: 15px;
	}
	.option
	{
		margin-bottom: 10px;
	}
	
	.option:hover
	{
		transform: scale(1.0);
	}

	.fa-info
	{
		float: left;
		margin-right: 10px;
	}










	.hebergement-populaire
	{
		display: flex;
		flex-direction: column-reverse;
		margin: 0;
		width: 100%;
	}

	.bloc-populaires
	{
		margin: 0;
		border-radius: 0;
		max-height: 800px;
	}

	.bloc-populaires h1
	{
		font-size: 1.4em;
		margin-top: 30px;
		margin-left: 15px;
	}

	.titre-icone i
	{
		font-size: 1.5em;
		margin-top: 30px;
		margin-right: 15px;
	}

	.galerie-deux h2
	{
		font-size: 0.8em;
	}

	.text-pune,
	.text-pdeux,
	.text-ptrois
	{
		width: 150px;
	}

	.bloc-hebergements
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 10px 0;
		border-radius: 0;
		max-height: 1800px;
	}

	.bloc-hebergements h1
	{
		font-size: 1.4em;
		margin-top: 30px;
		margin-left: 15px;
	}

	.image-hune,
	.image-hdeux,
	.image-htrois,
	.image-hquatre,
	.image-hcinq,
	.image-hsix
	{
		width: 90%;
		flex: none;
	}

	.plus
	{
		margin-left: 15px;
	}

	.bloc-activites
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 40px;
	}

	.bloc-activites h1
	{
		width: 95%;
		margin: 20px auto;
	}

	.galerie-trois
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.image-aune img,
	.image-adeux img,
	.image-atrois img,
	.image-aquatre img,
	.image-acinq img,
	.image-asix img
	{
		height: 200px;
	}

	.image-aune,
	.image-adeux,
	.image-atrois,
	.image-aquatre,
	.image-acinq,
	.image-asix 
	{
		height: 230px;
	}

	.image-aune,
	.image-aquatre
	{
		margin-bottom: -95px;
	}

	.ideux-trois
	{
		margin-bottom: -95px;
	}

	.image-acinq
	{
		margin: 0 auto;
	}

	.image-asix
	{
		margin: -95px auto;
	}

	.contenu-footer
	{
		display: flex;
		flex-direction: column;
	}

	.liste-general li,
	.liste-assistance li,
	.liste-hebergements li
	{
		width: 200px;
	}
}

@media screen and (max-width: 320px)
{
	.option
	{
		padding-right: 10px;
	}
	
	.fa-money-bill-wave,
	.fa-heart,
	.fa-dog
	{
		margin-right: 10px;
	}

	.fa-child
	{
		margin-right: 10px;
	}
}